//@use "../../layout/variables";

$primary-main: var(--mui-palette-primary-main);
$primary-light: var(--mui-palette-primary-light);
$text-primary: var(--mui-palette-text-primary);

.menu-item.Mui-selected {
  color: blue;
}

//.navbar {
//  display: flex;
//  gap: 20px;
//  padding: 1rem;
//  background-color: variables.$nav-bg;
//  border-bottom: 1px solid #ddd;
//
//  .navLink {
//    color: variables.$text-light;
//    text-decoration: none;
//    font-weight: 500;
//    transition: color 0.3s ease;
//
//    &:hover {
//      color: variables.$primary-color;
//    }
//
//    // Spezielle Klasse für den aktiven Link (wird von NavLink gesteuert)
//    &.active {
//      color: variables.$active-color;
//      border-bottom: 2px solid variables.$active-color;
//    }
//  }
//}
